
  <mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      
      <img src="../assets/img/logo.svg" alt="chennai turf logo" height="48">
      
    </button>
   
    <span class="example-spacer"></span>
    <div class="right-side" *ngIf="auth.getUser()">
     <ng-container *ngIf="role ==='client'">
      <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['bookhistory']" aria-label="Example icon-button with heart icon">
        <mat-icon>query_builder</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="notification" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="3"  matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
      </button>
      <mat-menu #notification="matMenu">
        <button mat-menu-item>🔔 Hi Mouli! You've booked a slot at Turf Arena</button>
        <button mat-menu-item>🔔 "Play More, Pay Less!" || Book 2 slots, get 1 slot free (valid for weekdays only)</button>
        <button mat-menu-item>🔔Happy Hours Deal || Book between 1 PM – 3 PM and get 30% OFF</button>
      </mat-menu>
    </ng-container>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon (click)="logout()" >logout</mat-icon>
      </button>
    </div>
    
  </mat-toolbar>
  
  <router-outlet></router-outlet>